body {
    background-color: whitesmoke;
}

.content {
    width: 900px;
    background-color: white; 
    margin: auto;
    padding : 16px;
}

table {
    width: 100%;
}

h1 {
    font-size : 22px;
    margin-top: auto;
    padding-top: 2px;
}

.Testimoni {
    background-color: red;
    text-align: center;
    margin-top: 18px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 12px;
    padding-left: 12px;
    color : white;
}

#Pencarian {
    width: 100%;
    margin-bottom: 25px;
    padding: 3px;
}